{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 chrome versions",
            "last 2 firefox versions",
            "last 2 safari versions",
            "last 2 ios versions",
            "last 2 edge versions",
            "Firefox ESR",
            "ie 11"
          ]
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ]
}
