language: node_js
node_js:
  - "8"
matrix:
  include:
    - name: "Build"
      env: TEST=build
    - name: "Lint"
      env: TEST=lint
    - name: "Docs"
      env: TEST=docs

# needed for chrome
sudo: true

os: linux
dist: trusty

# Skip npm install because our script takes care of that
install: yarn install --frozen-lockfile --non-interactive --emoji
script: ./scripts/travis.sh $TEST

cache: "yarn"

before_deploy: cd $TRAVIS_BUILD_DIR/docs && yarn build:prod

deploy:
  provider: surge
  project: ./docs/build
  domain: material.preactjs.com
  skip_cleanup: true
  on:
    branch: release
    condition: $TEST = "docs"
    node: "8"

# blocklist
branches:
  except:
    - gh-pages

addons:
  firefox: "latest"
  chrome: "stable"

notifications:
  webhooks:
    urls:
      - "https://artipost.io/travis/hook"
    on_start: always
