language: node_js
node_js:
  - '10'
matrix:
  include:
    # Run it first, because it takes the longest time
    - name: 'Docs'
      env: TEST=docs
    - name: 'Build'
      env: TEST=build
    - name: 'Lint'
      env: TEST=lint

# needed for chrome
sudo: true

os: linux
dist: xenial

install: yarn install --frozen-lockfile --non-interactive --emoji
script: ./scripts/travis.sh $TEST

cache: 'yarn'

before_deploy: cd $TRAVIS_BUILD_DIR/docs && yarn build:prod

deploy:
  provider: surge
  project: ./docs/build
  domain: material.preactjs.com
  skip_cleanup: true
  on:
    branch: release
    condition: $TEST = "docs"

# blocklist
branches:
  except:
    - gh-pages
