.home{
	.mdc-toolbar {
		background-color: #2b313c;
	}
	.hero{
		vertical-align: bottom;
		background-color: #2b313c;
		color: #fff;
		text-align: center;
		height: 40vh;
		a {
			color: #fff;
		}
	}
	h1{
		margin: 0;
	}
	.st0{fill:#757575}.st1{fill:#bdbdbd}.st2{fill:#fff}.st3{fill:none}
}