.home{
	.hero{
		vertical-align: bottom;
		background-color: #3f51b5;
		color: #fff;
		height: 40vh;
		a {
			color: #fff;
		}
	}
	h1{
		margin: 0;
	}
	.st0{fill:#757575}.st1{fill:#bdbdbd}.st2{fill:#fff}.st3{fill:none}
}