:global .home {
  .name {
    margin-bottom: 16px;
    font-weight: 300;
  }
  .mdc-toolbar {
    background-color: #2b313c;
  }
  .hero {
    vertical-align: bottom;
    background-color: #2b313c;
    color: #fff;
    text-align: center;
    overflow: hidden;
    max-height: 100vh;
    transition-property: max-height;
    will-change: max-height;
    transition-duration: 300ms;
    &.collapsed {
      max-height: 64px;
      @media (max-width: 959px) and (orientation: landscape) {
        max-height: 56px;
      }
      @media (max-width: 599px) {
        max-height: 56px;
      }
    }
    a {
      color: #fff;
    }
  }
  h1 {
    margin: 0;
  }
  .content {
    max-width: 1280px;
  }
  .st0 {
    fill: #757575;
  }
  .st1 {
    fill: #bdbdbd;
  }
  .st2 {
    fill: #fff;
  }
  .st3 {
    fill: none;
  }
  .mdc-temporary-drawer {
    li.mdc-list-item {
      color: #ddd;
    }
  }
  .mdc-temporary-drawer__header-content {
    background-image: url('https://www.whatswithtech.com/wp-content/uploads/2015/09/black-color-material-design-wallpaper.jpg');
    color: #fff;
  }
  .field-darkmode {
    color: #fff;
  }
  .switch-darkmode {
    margin-left: 8px;
    margin-right: 16px;
  }
  .grey {
    background-color: #eee;
    padding: 2px;
    margin: 2px;
  }
  .code-snippet {
    font-variant: common-ligatures;
    font-family: 'Fira Code', monospace;
    background-color: #eee;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.3rem;
  }
  code {
    font-family: 'Fira Code', monospace;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.3rem;
  }
}

:global .mdc-theme--dark {
  .mdc-temporary-drawer li.mdc-list-item {
    color: #666;
  }
  .code-snippet {
    background-color: #696969;
  }
}

:global .mdc-typography--body {
  line-height: 28px;
}

@font-face {
  font-family: 'Fira Code';
  src: url('https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/eot/FiraCode-Regular.eot');
  src: url('https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/eot/FiraCode-Regular.eot')
      format('embedded-opentype'),
    url('https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/woff2/FiraCode-Regular.woff2')
      format('woff2'),
    url('https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/woff/FiraCode-Regular.woff')
      format('woff'),
    url('https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/ttf/FiraCode-Regular.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}
