:global .page-card{
	.mdc-card{
		width: 90%;
		max-width: 400px;
		margin: 16px;
	}
	.card-media{
		height: 300px;
		background-image: url('https://material-components-web.appspot.com/images/16-9.jpg');
	}
}